In [11]:
import pandas as pd
import mysql.connector

In [12]:
df_acad = pd.read_excel( "tabelas_alteradas/indicadores_trajetoria_educacao_superior.xlsx")
df_renda = pd.read_excel( "tabelas_alteradas/rendimento_domiciliar_per_capita.xlsx")

In [13]:
print(df_acad)

        Código da Instituição  \
0                           1
1                           1
2                           1
3                           1
4                           1
...                       ...
173365                  29929
173366                  29929
173367                  29929
173368                  29929
173369                  29929

                                      Nome da Instituição  \
0                     UNIVERSIDADE FEDERAL DE MATO GROSSO
1                     UNIVERSIDADE FEDERAL DE MATO GROSSO
2                     UNIVERSIDADE FEDERAL DE MATO GROSSO
3                     UNIVERSIDADE FEDERAL DE MATO GROSSO
4                     UNIVERSIDADE FEDERAL DE MATO GROSSO
...                                                   ...
173365  COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...
173366  COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...
173367  COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...
173368  COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...
173369  COLÉGIO TECNOLÓGICO DO ESTADO DE GOIÁS GOVERNA...

        Categoria Administrativa  Organização Acadêmica  \
0                              1                      1
1                              1                      1
2                              1                      1
3                              1                      1
4                              1                      1
...                          ...                    ...
173365                         2                      3
173366                         2                      3
173367                         2                      3
173368                         2                      3
173369                         2                      3

        Código do Curso de Graduação Nome do Curso de Graduação  \
0                                  1                    DIREITO
1                                  1                    DIREITO
2                                  1                    DIREITO
3                                  1                    DIREITO
4                                  1                    DIREITO
...                              ...                        ...
173365                       1666352    CONSTRUÇÃO DE EDIFÍCIOS
173366                       1666352    CONSTRUÇÃO DE EDIFÍCIOS
173367                       1666352    CONSTRUÇÃO DE EDIFÍCIOS
173368                       1666352    CONSTRUÇÃO DE EDIFÍCIOS
173369                       1666352    CONSTRUÇÃO DE EDIFÍCIOS

        Código da Região Geográfica do Curso  \
0                                        5.0
1                                        5.0
2                                        5.0
3                                        5.0
4                                        5.0
...                                      ...
173365                                   5.0
173366                                   5.0
173367                                   5.0
173368                                   5.0
173369                                   5.0

        Código da Unidade Federativa do Curso  Código do Município do Curso  \
0                                        51.0                     5103403.0
1                                        51.0                     5103403.0
2                                        51.0                     5103403.0
3                                        51.0                     5103403.0
4                                        51.0                     5103403.0
...                                       ...                           ...
173365                                   52.0                     5208608.0
173366                                   52.0                     5208608.0
173367                                   52.0                     5208608.0
173368                                   52.0                     5208608.0
173369                                   52.0                     5208608.0

        Grau Acadêmico  ...  Quantidade de Ingressantes no Curso  \
0                    1  ...                                  100
1                    1  ...                                  100
2                    1  ...                                  100
3                    1  ...                                  100
4                    1  ...                                  100
...                ...  ...                                  ...
173365               3  ...                                   39
173366               3  ...                                   39
173367               3  ...                                   39
173368               3  ...                                   39
173369               3  ...                                   39

       Quantidade de Permanência no Curso no ano de referência  \
0                                                     100
1                                                      97
2                                                      92
3                                                      91
4                                                      34
...                                                   ...
173365                                                 39
173366                                                 39
173367                                                 39
173368                                                 11
173369                                                  4

       Quantidade de Concluintes no Curso no ano de referência  \
0                                                       0
1                                                       0
2                                                       1
3                                                       1
4                                                      57
...                                                   ...
173365                                                  0
173366                                                  0
173367                                                  0
173368                                                  0
173369                                                  7

        Quantidade de Desistência no Curso no ano de referência  \
0                                                       0
1                                                       3
2                                                       4
3                                                       0
4                                                       0
...                                                   ...
173365                                                  0
173366                                                  0
173367                                                  0
173368                                                 28
173369                                                  0

       Quantidade de Falecimentos no Curso no ano de referência  \
0                                                       0
1                                                       0
2                                                       0
3                                                       0
4                                                       0
...                                                   ...
173365                                                  0
173366                                                  0
173367                                                  0
173368                                                  0
173369                                                  0

        Taxa de Permanência - TAP  Taxa de Conclusão Acumulada - TCA  \
0                      100.000000                           0.000000
1                       97.000000                           0.000000
2                       92.000000                           1.000000
3                       91.000000                           2.000000
4                       34.000000                          59.000000
...                           ...                                ...
173365                 100.000000                           0.000000
173366                 100.000000                           0.000000
173367                 100.000000                           0.000000
173368                  28.205128                           0.000000
173369                  10.256410                          17.948718

        Taxa de Desistência Acumulada - TDA  Taxa de Conclusão Anual – TCAN  \
0                                  0.000000                        0.000000
1                                  3.000000                        0.000000
2                                  7.000000                        1.000000
3                                  7.000000                        1.000000
4                                  7.000000                       57.000000
...                                     ...                             ...
173365                             0.000000                        0.000000
173366                             0.000000                        0.000000
173367                             0.000000                        0.000000
173368                            71.794872                        0.000000
173369                            71.794872                       17.948718

        Taxa de Desistência Anual – TADA
0                               0.000000
1                               3.000000
2                               4.000000
3                               0.000000
4                               0.000000
...                                  ...
173365                          0.000000
173366                          0.000000
173367                          0.000000
173368                         71.794872
173369                          0.000000

[173370 rows x 31 columns]

In [14]:
print(df_renda)

    regioes  media_com_beneficios_2023  media_cv_com_beneficios_2023  \
0        11                1523.396675                      3.600024
1        12                1074.354951                      4.174085
2        13                1165.820253                      5.038382
3        14                1428.220491                      7.613953
4        15                1273.037987                      3.593628
5        16                1491.759183                      5.520468
6        17                1544.286351                      4.078528
7        21                 968.525644                      3.373580
8        22                1326.545758                     12.296357
9        23                1140.190987                      4.533213
10       24                1349.867252                      5.709592
11       25                1322.739642                      8.324182
12       26                1099.219181                      3.567428
13       27                1102.359160                      3.787853
14       28                1198.214214                      5.154372
15       29                1128.864956                      2.985816
16       31                1862.804034                      2.773793
17       32                1883.097070                      3.286492
18       33                2305.356766                      2.715002
19       35                2413.590853                      3.275068
20       41                2045.530897                      2.859963
21       42                2223.864444                      2.137449
22       43                2254.952174                      2.253756
23       50                1990.104741                      4.103379
24       51                1948.452006                      3.713271
25       52                1972.985781                      3.527919
26       53                3214.845403                      5.270599

    media_sem_beneficios_2023  media_cv_sem_beneficios_2023  \
0                 1456.767866                      3.777751
1                  973.169414                      4.731686
2                 1063.358840                      5.673596
3                 1366.706472                      8.045306
4                 1164.865879                      4.065627
5                 1391.734325                      6.079914
6                 1467.933299                      4.418362
7                  863.262826                      3.841526
8                 1208.862210                     13.674382
9                 1029.992811                      5.135845
10                1259.328750                      6.226713
11                1199.965497                      9.293089
12                 993.493175                      4.077891
13                 986.175566                      4.385732
14                1087.373936                      5.892417
15                1010.070485                      3.448653
16                1810.003993                      2.900850
17                1828.014145                      3.460210
18                2251.368422                      2.804906
19                2372.895439                      3.346440
20                2006.234688                      2.936910
21                2203.572231                      2.180428
22                2213.927309                      2.328160
23                1928.397082                      4.292818
24                1890.947842                      3.909669
25                1919.527493                      3.660499
26                3167.242832                      5.387156

    media_com_beneficios_2022  media_cv_com_beneficios_2022  \
0                 1384.766734                      3.462955
1                 1073.664642                      4.663293
2                  990.727738                      4.331668
3                 1303.663467                      8.576604
4                 1112.710702                      4.141392
5                 1217.734811                      8.183683
6                 1421.524985                      5.699722
7                  858.369323                      3.537918
8                 1138.874488                      6.024956
9                 1082.182702                      4.027212
10                1288.260307                      5.969413
11                1132.695454                     13.226417
12                1032.235408                      4.064930
13                 961.281623                      4.217585
14                1201.256413                      7.065161
15                1046.796085                      6.363670
16                1567.012643                      2.160092
17                1744.036645                      3.746564
18                2009.254346                      2.786296
19                2182.523580                      2.806912
20                1873.043881                      2.365592
21                2038.829928                      1.681831
22                2120.715955                      2.229589
23                1868.020796                      4.367502
24                1691.995892                      3.330962
25                1645.034225                      3.025255
26                2946.853893                      4.253043

    media_sem_beneficios_2022  media_cv_sem_beneficios_2022  \
0                 1346.916929                      3.606729
1                 1009.503645                      5.080029
2                  923.306069                      4.733215
3                 1256.390730                      9.013289
4                 1030.370191                      4.555527
5                 1150.903139                      8.917531
6                 1360.702972                      6.031444
7                  777.705605                      3.990789
8                 1051.606446                      6.724909
9                  993.860241                      4.453678
10                1220.055139                      6.393274
11                1047.212207                     14.388669
12                 952.293499                      4.507009
13                 867.614596                      4.817659
14                1118.716331                      7.665397
15                 962.265642                      6.982904
16                1524.878019                      2.242960
17                1705.695479                      3.879814
18                1973.195312                      2.846807
19                2155.187043                      2.858499
20                1844.409535                      2.422691
21                2020.421160                      1.704008
22                2092.611183                      2.284753
23                1819.790409                      4.555490
24                1654.507368                      3.441949
25                1604.220754                      3.135864
26                2914.343264                      4.330950

    media_com_beneficios_2021  media_cv_com_beneficios_2021  \
0                 1144.547453                      5.163272
1                 1011.467587                      4.039980
2                  914.875914                      4.252291
3                 1160.328714                     13.655813
4                  934.295998                      4.016182
5                  953.255515                      8.784529
6                 1192.614242                      8.221608
7                  722.710962                      3.100225
8                  973.991155                      5.534430
9                 1028.898349                      4.914002
10                1275.911469                     10.798488
11                1001.623120                      7.377501
12                 958.129332                      6.809729
13                 869.463907                      4.602317
14                1059.455504                      8.311784
15                 981.299042                      4.951534
16                1482.009183                      2.225625
17                1471.660035                      4.332842
18                1930.380138                      3.216676
19                2101.572180                      3.316710
20                1762.969474                      2.849332
21                1921.694968                      2.118796
22                1995.417168                      2.550028
23                1639.112686                      5.253147
24                1507.202213                      4.297765
25                1440.802295                      3.232694
26                2844.489559                      5.095999

    media_sem_beneficios_2021  media_cv_sem_beneficios_2021  \
0                 1098.184449                      5.558914
1                  951.054903                      4.487578
2                  868.159497                      4.560535
3                 1128.125707                     14.156340
4                  878.967982                      4.341027
5                  907.685067                      9.382566
6                 1142.546771                      8.653645
7                  662.751165                      3.367340
8                  906.354240                      6.049967
9                  964.237519                      5.298451
10                1221.408990                     11.330326
11                 932.174473                      8.039398
12                 902.477432                      7.301117
13                 795.885065                      5.170870
14                 995.336270                      8.931299
15                 906.280493                      5.387712
16                1444.130068                      2.311368
17                1435.224001                      4.461546
18                1903.726874                      3.271504
19                2074.883705                      3.378198
20                1736.773152                      2.903587
21                1903.527618                      2.145672
22                1971.480613                      2.598753
23                1598.827669                      5.453337
24                1475.796979                      4.420283
25                1401.550369                      3.327167
26                2820.725467                      5.159385

    media_com_beneficios_2020  media_cv_com_beneficios_2020  \
0                 1352.288466                      5.374255
1                 1122.504679                      4.589880
2                 1009.461200                      5.481250
3                 1158.086566                      7.385736
4                 1047.918566                      3.554951
5                 1042.881698                      8.004112
6                 1241.746122                      5.214501
7                  818.197681                      3.374686
8                 1039.604766                      4.272140
9                 1223.525125                      5.225127
10                1299.410421                      7.216238
11                1070.527850                      5.632175
12                1092.610865                      5.132359
13                 955.443555                      5.355745
14                1224.082193                      7.167220
15                1181.663860                      5.873699
16                1581.185113                      2.148785
17                1656.653550                      3.690307
18                2033.777759                      3.161208
19                2220.487106                      4.048443
20                1866.979388                      2.526594
21                1990.569667                      1.971663
22                2099.193934                      3.066610
23                1786.830806                      4.836075
24                1659.452954                      4.409040
25                1518.619455                      2.641095
26                2929.982478                      5.478172

    media_sem_beneficios_2020  media_cv_sem_beneficios_2020
0                 1255.887314                      5.866332
1                  980.320916                      5.262843
2                  879.202033                      6.408027
3                 1053.540129                      8.247858
4                  911.996909                      4.247639
5                  917.390992                      8.856525
6                 1134.475874                      5.809157
7                  681.121160                      4.085998
8                  875.608556                      5.040419
9                 1089.236848                      5.981806
10                1158.857515                      8.392722
11                 916.182476                      6.800424
12                 968.995752                      5.946383
13                 806.320482                      6.415711
14                1088.186624                      8.203877
15                1031.437766                      6.855073
16                1484.856885                      2.336786
17                1560.301697                      3.981200
18                1955.815636                      3.319070
19                2149.971562                      4.220767
20                1800.562039                      2.665735
21                1951.493745                      2.041571
22                2031.629048                      3.216268
23                1690.452660                      5.211745
24                1580.308969                      4.706601
25                1422.084223                      2.925788
26                2869.649776                      5.679920

In [15]:
# Conectando com o mysql
conn = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="0000",
)
cursor = conn.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS datawarehouse") # Criando Banco
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0000",
    database="datawarehouse" 
)
cursor = conn.cursor()

In [16]:
# Criando tabelas caso não exista no banco
tabelas_sql = [
    """
    CREATE TABLE IF NOT EXISTS `cursos` (
        `cur_id` int NOT NULL,
        `cur_cod` int DEFAULT NULL,
        `cur_nome` varchar(255) DEFAULT NULL,
        `cur_cod_area` varchar(20) DEFAULT NULL,
        `cur_nome_area` varchar(255) DEFAULT NULL,
        `cur_modalidade_ensino` varchar(100) DEFAULT NULL,
        PRIMARY KEY (`cur_id`)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS `tempo` (
        `tem_id` int unsigned NOT NULL AUTO_INCREMENT,
        `tem_ano` int NOT NULL,
        PRIMARY KEY (`tem_id`)
    )
    """,
    """ 
    CREATE TABLE IF NOT EXISTS `uf` (
        `uf_id` int unsigned NOT NULL,
        `uf_nome` varchar(255) NOT NULL DEFAULT '',
        `uf_sigla` char(2) NOT NULL DEFAULT '',
        PRIMARY KEY (`uf_id`)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS `universidades` (
        `uni_id` int NOT NULL,
        `uni_nome` varchar(255) DEFAULT NULL,
        PRIMARY KEY (`uni_id`)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS `indicadores_academicos` (
        `uni_id` int NOT NULL,
        `cur_id` int NOT NULL,
        `uf_id` int unsigned NOT NULL,
        `tem_id` int unsigned NOT NULL,
        `ano_ingresso` int NOT NULL,
        `prazo_integracao_anos` int NOT NULL,
        `ano_integracao_curso` int NOT NULL,
        `prazo_acompanhamento_anos` int NOT NULL,
        `ano_maximo_acompanhamento` int NOT NULL,
        `qt_ingressantes` int DEFAULT '0',
        `qt_permanencia` int DEFAULT '0',
        `qt_concluintes` int DEFAULT '0',
        `qt_desistencia` int DEFAULT '0',
        `qt_falecidos` int DEFAULT '0',
        `taxa_permanencia` float DEFAULT '0',
        `taxa_conclusao_acumulada` float DEFAULT '0',
        `taxa_desistencia_acumulada` float DEFAULT '0',
        `taxa_conclusao_anual` float DEFAULT '0',
        `taxa_desistencia_anual` float DEFAULT '0',
        PRIMARY KEY (`uni_id`,`cur_id`,`uf_id`,`tem_id`),
        KEY `idicadores_academicos_fk_3` (`uf_id`),
        KEY `indicadores_academicos_fk_2` (`cur_id`),
        KEY `indicadores_academicos_fk_3` (`tem_id`),
        CONSTRAINT `idicadores_academicos_fk_3` FOREIGN KEY (`uf_id`) REFERENCES `uf` (`uf_id`),
        CONSTRAINT `indicadores_academicos_fk_1` FOREIGN KEY (`uni_id`) REFERENCES `universidades` (`uni_id`),
        CONSTRAINT `indicadores_academicos_fk_2` FOREIGN KEY (`cur_id`) REFERENCES `cursos` (`cur_id`),
          CONSTRAINT `indicadores_academicos_fk_3` FOREIGN KEY (`tem_id`) REFERENCES `tempo` (`tem_id`)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS `indicadores_economicos` (
        `uf_id` int unsigned NOT NULL,
        `tem_id` int unsigned NOT NULL,
        `inec_rendimento_medio_percapita_sem_beneficio` float DEFAULT '0',
        `inec_rendimento_medio_percapita_com_beneficio` float DEFAULT '0',
        `inec_coeficiente_variacao_rendimento_com_beneficio` float DEFAULT '0',
        `inec_coeficiente_variacao_rendimento_sem_beneficio` float DEFAULT '0',
        KEY `indicadoreseconomicos_fk_1` (`uf_id`),
        KEY `indicadores_economicos_fk_2` (`tem_id`),
        CONSTRAINT `indicadores_economicos_fk_2` FOREIGN KEY (`tem_id`) REFERENCES `tempo` (`tem_id`),
        CONSTRAINT `indicadoreseconomicos_fk_1` FOREIGN KEY (`uf_id`) REFERENCES `uf` (`uf_id`)
    )
    """,   
]

for sql in tabelas_sql:
    cursor.execute(sql)

In [17]:
# Inserir dados no banco

# Setando dados dos estados 

cursor.execute("""
    INSERT IGNORE INTO uf (uf_id, uf_nome, uf_sigla) VALUES
    (11, 'Rondônia', 'RO'),
    (12, 'Acre', 'AC'),
    (13, 'Amazonas', 'AM'),
    (14, 'Roraima', 'RR'),
    (15, 'Pará', 'PA'),
    (16, 'Amapá', 'AP'),
    (17, 'Tocantins', 'TO'),
    (21, 'Maranhão', 'MA'),
    (22, 'Piauí', 'PI'),
    (23, 'Ceará', 'CE'),
    (24, 'Rio Grande do Norte', 'RN'),
    (25, 'Paraíba', 'PB'),
    (26, 'Pernambuco', 'PE'),
    (27, 'Alagoas', 'AL'),
    (28, 'Sergipe', 'SE'),
    (29, 'Bahia', 'BA'),
    (31, 'Minas Gerais', 'MG'),
    (32, 'Espírito Santo', 'ES'),
    (33, 'Rio de Janeiro', 'RJ'),
    (35, 'São Paulo', 'SP'),
    (41, 'Paraná', 'PR'),
    (42, 'Santa Catarina', 'SC'),
    (43, 'Rio Grande do Sul', 'RS'),
    (50, 'Mato Grosso do Sul', 'MS'),
    (51, 'Mato Grosso', 'MT'),
    (52, 'Goiás', 'GO'),
    (53, 'Distrito Federal', 'DF');
""")

# Setando dados do tempo

cursor.execute("""
    INSERT IGNORE INTO tempo (tem_id, tem_ano) VALUES
    (1, 2020),
    (2, 2021),
    (3, 2022),
    (4, 2023),
    (5, 2024),
    (6, 2025);
""")

# Formatando dados para inserir na tabela indicadores economicos
dados = []
cursor.execute("SELECT tem_id, tem_ano FROM tempo;")
mapa_tempo = {ano: tem_id for tem_id, ano in cursor.fetchall()}


for i, row in df_renda.iterrows():
    uf_id = row["regioes"]
    
    for ano in [2020, 2021, 2022, 2023]:
        dados.append({
            "uf_id": uf_id,
            "ano": ano,
            "media_com_beneficios": row[f"media_sem_beneficios_{ano}"],
            "media_sem_beneficios": row[f"media_sem_beneficios_{ano}"],
            "coeficiente_variacao_com_beneficios": row[f"media_cv_com_beneficios_{ano}"],
            "coeficiente_variacao_sem_beneficios": row[f"media_cv_sem_beneficios_{ano}"]
        })


df_preparado = pd.DataFrame(dados)

valores = []

for i, row in df_preparado.iterrows():
    tem_id = mapa_tempo[row["ano"]]
    valores.append((
        int(row["uf_id"]),
        int(tem_id),
        row["media_com_beneficios"],
        row["media_sem_beneficios"],
        row["coeficiente_variacao_com_beneficios"],
        row["coeficiente_variacao_sem_beneficios"]
    ))
    
sql = """
    INSERT IGNORE INTO indicadores_economicos (
        uf_id, tem_id,
        inec_rendimento_medio_percapita_com_beneficio,
        inec_rendimento_medio_percapita_sem_beneficio,
        inec_coeficiente_variacao_rendimento_com_beneficio,
        inec_coeficiente_variacao_rendimento_sem_beneficio
    )
    VALUES (%s, %s, %s, %s, %s, %s)
"""

cursor.executemany(sql, valores)

# Tratando dados academicos

universidades = []
# Usando um set para evitar duplicatas
seen_unis = set()

for i, row in df_acad.iterrows():
    uni_id = int(row["Código da Instituição"])
    uni_nome = row["Nome da Instituição"]
    if uni_id not in seen_unis:
        universidades.append((uni_id, uni_nome))
        seen_unis.add(uni_id)

sql_uni = """
INSERT IGNORE INTO universidades (uni_id, uni_nome) VALUES (%s, %s)
"""
cursor.executemany(sql_uni, universidades)

cursos = []
seen_cursos = set()

for i, row in df_acad.iterrows():
    cur_id = int(row["Código do Curso de Graduação"])
    cur_nome = row["Nome do Curso de Graduação"]
    cur_cod_area  = row.get("Código da área do Curso segundo a classificação CINE BRASIL", "")
    cur_nome_area = row.get("Nome da área do Curso segundo a classificação CINE BRASIL", "")
    cur_modalidade_ensino = row.get("Modalidade de Ensino", "")
    
    if cur_id not in seen_cursos:
        cursos.append((cur_id, None, cur_nome, cur_cod_area, cur_nome_area, cur_modalidade_ensino))
        seen_cursos.add(cur_id)

sql_cursos = """
INSERT IGNORE INTO cursos (cur_id, cur_cod, cur_nome, cur_cod_area, cur_nome_area, cur_modalidade_ensino)
VALUES (%s, %s, %s, %s, %s, %s)
"""
cursor.executemany(sql_cursos, cursos)

# === 4. Inserir fatos acadêmicos ===
valores = []

for i, row in df_acad.iterrows():
    try:
        tem_id = mapa_tempo[int(row["Ano de Referência"])]
    except KeyError:
        continue
        
    if pd.isna(row["Código da Unidade Federativa do Curso"]): # Universidades EAD, não servirá para nossos testes.
        continue
    
    valores.append((
        int(row["Código da Instituição"]),
        int(row["Código do Curso de Graduação"]),
        int(row["Código da Unidade Federativa do Curso"]),
        tem_id,
        int(row["Ano de Ingresso"]),
        int(row["Prazo de Integralização em Anos"]),
        int(row["Ano de Integralização do Curso"]),
        int(row["Prazo de Acompanhamento do Curso em anos"]),
        int(row["Ano Máximo de Acompanhamento do Curso"]),
        int(row.get("Quantidade de Ingressantes no Curso", 0)),
        int(row.get("Quantidade de Permanência no Curso no ano de referência", 0)),
        int(row.get("Quantidade de Concluintes no Curso no ano de referência", 0)),
        int(row.get("Quantidade de Desistência no Curso no ano de referência", 0)),
        int(row.get("Quantidade de Falecimentos no Curso no ano de referência", 0)),
        float(row.get("Taxa de Permanência - TAP", 0)),
        float(row.get("Taxa de Conclusão Acumulada - TCA", 0)),
        float(row.get("Taxa de Desistência Acumulada - TDA", 0)),
        float(row.get("Taxa de Conclusão Anual – TCAN", 0)),
        float(row.get("Taxa de Desistência Anual – TADA", 0))
    ))

sql_acad = """
INSERT IGNORE INTO indicadores_academicos (
    uni_id, cur_id, uf_id, tem_id,
    ano_ingresso, prazo_integracao_anos, ano_integracao_curso,
    prazo_acompanhamento_anos, ano_maximo_acompanhamento,
    qt_ingressantes, qt_permanencia, qt_concluintes,
    qt_desistencia, qt_falecidos,
    taxa_permanencia, taxa_conclusao_acumulada, taxa_desistencia_acumulada,
    taxa_conclusao_anual, taxa_desistencia_anual
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) 
"""

cursor.executemany(sql_acad, valores)
conn.commit()
cursor.close()
conn.close()